@import '../Vars.sass'

.card
  display: block
  width: 100%
  padding: 25px
  border-radius: 5px
  background-color: white
  box-shadow: 5px 5px 15px $dark-cyan

  &__profesion
    font-family: $font-main
    color: $dark-cyan
    font-weight: 700
    margin: 0